<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to load gltf from network. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SceneView requires OpenGLES 3.0 or later for 3D rendering. -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
</manifest>