root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts,java}]
indent_style = space
indent_size = 4

[*.xml]
indent_style = space
indent_size = 4

[*.{gradle,gradle.kts}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.json]
indent_style = space
indent_size = 2

# Windows batch files require CRLF line endings
[*.{bat,cmd}]
end_of_line = crlf
